@import
url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body {
    font-size: 20px;
    font-family:'Work Sans', sans-serif;
    color: black;
    font-weight: 300;
    text-align: center;
    background-color: burlywood;
}

h1 {
    font-weight: 300;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    background-color: black;
    color: #fff;
}

.question {
    font-size: 30px;
    margin-bottom: 10px;
}

.answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
}



html, body, .wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
}



.wrapper {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color:rgb(35, 121, 197)
}

h2 {
    text-align: center;
}

.card {
    background-color: burlywood;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: black;
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
}